.sliding-menu {
	background-color: rgb(40, 38, 38);
}

.flex-center-wrapper {
  display: flex;
  display: -webkit-flex;
  align-content: center;
  -webkit-align-content: center;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: column;
  -webkit-flex-direction: column;
  text-align: center;
}

.slider-toggle {
	display: block;
	padding: 10px 30px 10px 30px;
	margin: 10px;
	background-color: rgb(18, 209, 234);
	color: white;
	font-size: 18px;
	border: none;
  letter-spacing: 1px;
  font-family: Lato;
  width: 120px;
  height: 50px;
  text-align: center;
}

body {
  min-height: 100%;
  background-image: url('background2.jpg');
  background-size: cover;
  background-position: center;
}

html {
	height: 100%;
}

h1 {
  color: white;
  font-family: 'PayTone One';
  font-weight: 300;
  font-size: 60px;
  margin: 0;
}

h2 {
  color: white;
  font-family: Lato;
  font-weight: 300;
  font-size: 32px;
  margin: 10px auto 30px auto;
}

.vertical {

}

.sliding-menu a {
  font-family: Lato;
  font-size: 24px;
  color: rgb(200, 200, 200);
  text-decoration: none;
}

.sliding-menu ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

.sliding-menu li {
  margin: 40px auto 40px auto;
}

.sliding-menu hr {
  width: 70%;
  color: aqua;
}

.sliding-menu {
  overflow: hidden;
}

.exit {
  position: absolute;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

.left-exit, .top-exit, .bottom-exit {
  top: 20px;
  right: 40px;
}

.right-exit {
  top: 20px;
  left: 40px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 700px;
  margin: 0 auto 0 auto;
  flex-wrap: wrap;
}


.left-menu, .right-menu {width: 300px;}

.top-menu, .bottom-menu {height: 200px;}

