.sliding-menu {
	background-color: white;
}

button {
	display: block;
	padding: 10px 30px 10px 30px;
	margin: auto;
	background-color: rgb(18, 209, 234);
	color: white;
	font-size: 18px;
	border: none;
  margin: auto;
  letter-spacing: 1px;
  font-family: Lato;
}

body {
  min-height: 100%;
  background-color: rgb(52, 52, 52);
  display: flex;
  display: -webkit-flex;
  align-content: center;
  -webkit-align-content: center;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: column;
  -webkit-flex-direction: column;
  text-align: center;
}

html {
	height: 100%;
}

h1 {
  color: white;
  font-family: Lato;
  font-weight: 300;
  margin: 30px;
}